# Postgres
POSTGRES_USER=documentsearch
POSTGRES_PASSWORD=changeme
POSTGRES_DB=documentsearch
POSTGRES_PORT=5432

# MinIO
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=changeme
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001

# Kafka
KAFKA_PORT=9092
