# Postgres
POSTGRES_USER=documentsearch
POSTGRES_PASSWORD=changeme
POSTGRES_DB=documentsearch
POSTGRES_PORT=5432

# pgAdmin
PGADMIN_DEFAULT_EMAIL=admin@documentsearch.com
PGADMIN_DEFAULT_PASSWORD=changeme
PGADMIN_PORT=5050

# MinIO
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=changeme
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_BUCKET_NAME=documents

# Kafka
KAFKA_PORT=9092
